SaleMTv1_new/Backup/SaleMTSync/Service References/SaleOnline/GetExportDataWs1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://webservice.viettel.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GetExportDataWs" targetNamespace="http://webservice.viettel.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns="http://webservice.viettel.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://webservice.viettel.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="synObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="fileName" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="BusinessException" type="tns:BusinessException" />
      <xs:complexType name="BusinessException">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="deleteFile" type="tns:deleteFile" />
      <xs:complexType name="deleteFile">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="arg2" type="xs:string" />
          <xs:element minOccurs="0" name="arg3" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="deleteFileResponse" type="tns:deleteFileResponse" />
      <xs:complexType name="deleteFileResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="uploadFile" type="tns:uploadFile" />
      <xs:complexType name="uploadFile">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
          <xs:element minOccurs="0" name="arg2" type="xs:string" />
          <xs:element minOccurs="0" name="arg3" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="arg4" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="uploadFileResponse" type="tns:uploadFileResponse" />
      <xs:complexType name="uploadFileResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="getLastVersion" type="tns:getLastVersion" />
      <xs:complexType name="getLastVersion">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="getLastVersionResponse" type="tns:getLastVersionResponse" />
      <xs:complexType name="getLastVersionResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="getUpdateData" type="tns:getUpdateData" />
      <xs:complexType name="getUpdateData">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
          <xs:element minOccurs="0" name="arg2" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="getUpdateDataResponse" type="tns:getUpdateDataResponse" />
      <xs:complexType name="getUpdateDataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:synObject" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="deleteFile">
    <wsdl:part name="parameters" element="tns:deleteFile" />
  </wsdl:message>
  <wsdl:message name="getLastVersion">
    <wsdl:part name="parameters" element="tns:getLastVersion" />
  </wsdl:message>
  <wsdl:message name="getUpdateDataResponse">
    <wsdl:part name="parameters" element="tns:getUpdateDataResponse" />
  </wsdl:message>
  <wsdl:message name="getUpdateData">
    <wsdl:part name="parameters" element="tns:getUpdateData" />
  </wsdl:message>
  <wsdl:message name="uploadFileResponse">
    <wsdl:part name="parameters" element="tns:uploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="uploadFile">
    <wsdl:part name="parameters" element="tns:uploadFile" />
  </wsdl:message>
  <wsdl:message name="BusinessException">
    <wsdl:part name="BusinessException" element="tns:BusinessException" />
  </wsdl:message>
  <wsdl:message name="deleteFileResponse">
    <wsdl:part name="parameters" element="tns:deleteFileResponse" />
  </wsdl:message>
  <wsdl:message name="getLastVersionResponse">
    <wsdl:part name="parameters" element="tns:getLastVersionResponse" />
  </wsdl:message>
  <wsdl:portType name="GetExportDataWs">
    <wsdl:operation name="deleteFile">
      <wsdl:input name="deleteFile" message="tns:deleteFile" />
      <wsdl:output name="deleteFileResponse" message="tns:deleteFileResponse" />
    </wsdl:operation>
    <wsdl:operation name="uploadFile">
      <wsdl:input name="uploadFile" message="tns:uploadFile" />
      <wsdl:output name="uploadFileResponse" message="tns:uploadFileResponse" />
    </wsdl:operation>
    <wsdl:operation name="getLastVersion">
      <wsdl:input name="getLastVersion" message="tns:getLastVersion" />
      <wsdl:output name="getLastVersionResponse" message="tns:getLastVersionResponse" />
      <wsdl:fault name="BusinessException" message="tns:BusinessException" />
    </wsdl:operation>
    <wsdl:operation name="getUpdateData">
      <wsdl:input name="getUpdateData" message="tns:getUpdateData" />
      <wsdl:output name="getUpdateDataResponse" message="tns:getUpdateDataResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetExportDataWsSoapBinding" type="tns:GetExportDataWs">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="deleteFile">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="deleteFile">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteFileResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadFile">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="uploadFile">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="uploadFileResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastVersion">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getLastVersion">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getLastVersionResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BusinessException">
        <soap:fault use="literal" name="BusinessException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUpdateData">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getUpdateData">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getUpdateDataResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetExportDataWs">
    <wsdl:port name="GetExportDataWsImplPort" binding="tns:GetExportDataWsSoapBinding">
      <soap:address location="http://210.211.101.22:8980/GetExportDataWs" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>