SaleMTv1_new/Backup/SaleMTSync/GetExportDataWs.xml

<?xml version="1.0" ?><wsdl:definitions name="GetExportDataWs" targetNamespace="http://webservice.viettel.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.viettel.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://webservice.viettel.com/" xmlns="http://webservice.viettel.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="synObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="fileName" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="deleteFile" type="deleteFile"></xs:element>
  <xs:complexType name="deleteFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="arg1" type="xs:string"></xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="arg2" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="arg3" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="deleteFileResponse" type="deleteFileResponse"></xs:element>
  <xs:complexType name="deleteFileResponse">
    <xs:sequence></xs:sequence>
  </xs:complexType>
  <xs:element name="uploadFile" type="uploadFile"></xs:element>
  <xs:complexType name="uploadFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="arg1" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="arg2" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="arg3" type="xs:base64Binary"></xs:element>
      <xs:element minOccurs="0" name="arg4" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="uploadFileResponse" type="uploadFileResponse"></xs:element>
  <xs:complexType name="uploadFileResponse">
    <xs:sequence></xs:sequence>
  </xs:complexType>
  <xs:element name="getUpdateData" type="getUpdateData"></xs:element>
  <xs:complexType name="getUpdateData">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="arg1" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="arg2" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getUpdateDataResponse" type="getUpdateDataResponse"></xs:element>
  <xs:complexType name="getUpdateDataResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="synObject"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="deleteFile">
    <wsdl:part element="tns:deleteFile" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUpdateDataResponse">
    <wsdl:part element="tns:getUpdateDataResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUpdateData">
    <wsdl:part element="tns:getUpdateData" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="uploadFileResponse">
    <wsdl:part element="tns:uploadFileResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="uploadFile">
    <wsdl:part element="tns:uploadFile" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteFileResponse">
    <wsdl:part element="tns:deleteFileResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="GetExportDataWs">
    <wsdl:operation name="deleteFile">
      <wsdl:input message="tns:deleteFile" name="deleteFile"></wsdl:input>
      <wsdl:output message="tns:deleteFileResponse" name="deleteFileResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadFile">
      <wsdl:input message="tns:uploadFile" name="uploadFile"></wsdl:input>
      <wsdl:output message="tns:uploadFileResponse" name="uploadFileResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUpdateData">
      <wsdl:input message="tns:getUpdateData" name="getUpdateData"></wsdl:input>
      <wsdl:output message="tns:getUpdateDataResponse" name="getUpdateDataResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetExportDataWsSoapBinding" type="tns:GetExportDataWs">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="deleteFile">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="deleteFile">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="deleteFileResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadFile">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="uploadFile">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="uploadFileResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUpdateData">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getUpdateData">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getUpdateDataResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetExportDataWs">
    <wsdl:port binding="tns:GetExportDataWsSoapBinding" name="GetExportDataWsImplPort">
      <soap:address location="http://192.168.1.89:8080/GetExportDataWs"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>